Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ylwrap


Makefile
config.log
config.status
libtool
man/man1/pkcscca.1
man/man1/pkcsconf.1
man/man1/pkcsep11_migrate.1
man/man1/pkcsep11_session.1
man/man1/pkcsicsf.1
man/man5/opencryptoki.conf.5
man/man7/opencryptoki.7
man/man8/pkcsslotd.8
testcases/common/.deps/
testcases/crypto/.deps/
testcases/login/.deps/
testcases/misc_tests/.deps/
testcases/pkcs11/.deps/
usr/lib/api/.deps/
usr/lib/api/shrd_mem.c
usr/lib/cca_stdll/.deps/
usr/lib/common/.deps/
usr/lib/ep11_stdll/.deps/
usr/lib/ica_s390_stdll/.deps/
usr/lib/icsf_stdll/.deps/
usr/lib/soft_stdll/.deps/
usr/lib/tpm_stdll/.deps/
usr/sbin/pkcscca/.deps/
usr/sbin/pkcsconf/.deps/
usr/sbin/pkcsep11_migrate/.deps/
usr/sbin/pkcsep11_session/.deps/
usr/sbin/pkcsicsf/.deps/
usr/sbin/pkcsslotd/.deps/


misc/pkcsslotd
opencryptoki/
testcases/common/.dirstamp
testcases/common/.libs/
testcases/common/libcommon.la
testcases/common/testcases_common_libcommon_la-common.lo
testcases/crypto/.dirstamp
testcases/crypto/aes_tests
testcases/crypto/des3_tests
testcases/crypto/des_tests
testcases/crypto/dh_tests
testcases/crypto/digest_tests
testcases/crypto/dsa_tests
testcases/crypto/ec_tests
testcases/crypto/rsa_tests
testcases/crypto/rsaupdate_tests
testcases/crypto/ssl3_tests
testcases/crypto/testcases_crypto_aes_tests-aes_func.o
testcases/crypto/testcases_crypto_des3_tests-des3_func.o
testcases/crypto/testcases_crypto_des_tests-des_func.o
testcases/crypto/testcases_crypto_dh_tests-dh_func.o
testcases/crypto/testcases_crypto_digest_tests-digest_func.o
testcases/crypto/testcases_crypto_dsa_tests-dsa_func.o
testcases/crypto/testcases_crypto_ec_tests-ec_func.o
testcases/crypto/testcases_crypto_rsa_tests-rsa_func.o
testcases/crypto/testcases_crypto_rsaupdate_tests-rsaupdate_func.o
testcases/crypto/testcases_crypto_ssl3_tests-ssl3_func.o
testcases/init_token.sh
testcases/log-slot_*.txt
testcases/login/.dirstamp
testcases/login/digest_init
testcases/login/init_pin
testcases/login/init_tok
testcases/login/login
testcases/login/login_flags_test
testcases/login/set_pin
testcases/login/testcases_login_digest_init-digest_init.o
testcases/login/testcases_login_init_pin-init_pin.o
testcases/login/testcases_login_init_tok-init_tok.o
testcases/login/testcases_login_login-login.o
testcases/login/testcases_login_login_flags_test-login_flags.o
testcases/login/testcases_login_set_pin-set_pin.o
testcases/misc_tests/.dirstamp
testcases/misc_tests/obj_mgmt_lock_tests
testcases/misc_tests/obj_mgmt_tests
testcases/misc_tests/speed
testcases/misc_tests/testcases_misc_tests_obj_mgmt_lock_tests-obj_mgmt_lock.o
testcases/misc_tests/testcases_misc_tests_obj_mgmt_tests-obj_mgmt.o
testcases/misc_tests/testcases_misc_tests_speed-speed.o
testcases/misc_tests/testcases_misc_tests_threadmkobj-threadmkobj.o
testcases/misc_tests/testcases_misc_tests_tok_des-tok_des.o
testcases/misc_tests/testcases_misc_tests_tok_obj-tok_obj.o
testcases/misc_tests/testcases_misc_tests_tok_rsa-tok_rsa.o
testcases/misc_tests/threadmkobj
testcases/misc_tests/tok_des
testcases/misc_tests/tok_obj
testcases/misc_tests/tok_rsa
testcases/ock_tests.sh
testcases/pkcs11/.dirstamp
testcases/pkcs11/attribute
testcases/pkcs11/copyobjects
testcases/pkcs11/destroyobjects
testcases/pkcs11/findobjects
testcases/pkcs11/gen_purpose
testcases/pkcs11/generate_keypair
testcases/pkcs11/getobjectsize
testcases/pkcs11/hw_fn
testcases/pkcs11/sess_bench
testcases/pkcs11/sess_mgmt_tests
testcases/pkcs11/sess_opstate
testcases/pkcs11/testcases_pkcs11_attribute-attribute.o
testcases/pkcs11/testcases_pkcs11_copyobjects-copyobjects.o
testcases/pkcs11/testcases_pkcs11_destroyobjects-destroyobjects.o
testcases/pkcs11/testcases_pkcs11_findobjects-findobjects.o
testcases/pkcs11/testcases_pkcs11_gen_purpose-gen_purpose.o
testcases/pkcs11/testcases_pkcs11_generate_keypair-generate_keypair.o
testcases/pkcs11/testcases_pkcs11_getobjectsize-getobjectsize.o
testcases/pkcs11/testcases_pkcs11_hw_fn-hw_fn.o
testcases/pkcs11/testcases_pkcs11_sess_bench-sess_perf.o
testcases/pkcs11/testcases_pkcs11_sess_mgmt_tests-sess_mgmt.o
testcases/pkcs11/testcases_pkcs11_sess_opstate-sess_opstate.o
usr/lib/api/.dirstamp
usr/lib/api/.libs/
usr/lib/api/opencryptoki_libopencryptoki_la-api_interface.lo
usr/lib/api/opencryptoki_libopencryptoki_la-apiutil.lo
usr/lib/api/opencryptoki_libopencryptoki_la-shrd_mem.lo
usr/lib/api/opencryptoki_libopencryptoki_la-socket_client.lo
usr/lib/cca_stdll/.dirstamp
usr/lib/cca_stdll/.libs/
usr/lib/cca_stdll/opencryptoki_stdll_libpkcs11_cca_la-cca_specific.lo
usr/lib/common/.dirstamp
usr/lib/common/.libs/
usr/lib/common/opencryptoki_libopencryptoki_la-lock_btree.lo
usr/lib/common/opencryptoki_libopencryptoki_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-asn1.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-cert.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-data_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-decr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-dig_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-dp_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-encr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-globals.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-hwf_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-key.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-key_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-loadsave.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-lock_btree.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-lock_sess_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_aes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_des.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_des3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_dh.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_ec.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_list.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_md2.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_md5.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_rng.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_rsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_sha.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-mech_ssl3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-new_host.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-obj_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-object.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-p11util.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-shared_memory.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-sign_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-sw_crypt.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-template.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-utility.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_cca_la-verify_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-asn1.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-attributes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-cert.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-data_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-decr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-dig_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-dp_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-encr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-globals.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-hwf_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-key.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-key_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-loadsave.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-lock_btree.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-lock_sess_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_aes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_des.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_des3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_dh.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_dsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_ec.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_list.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_md2.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_md5.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_rng.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_rsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_sha.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-mech_ssl3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-obj_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-object.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-p11util.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-shared_memory.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-sign_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-sw_crypt.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-template.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-utility.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ep11_la-verify_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-asn1.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-cert.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-data_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-decr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-dig_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-dp_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-encr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-globals.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-hwf_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-key.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-key_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-loadsave.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-lock_btree.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-lock_sess_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_aes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_des.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_des3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_ec.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_list.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_md2.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_md5.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_rng.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_rsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_sha.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-mech_ssl3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-new_host.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-obj_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-object.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-p11util.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-shared_memory.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-sign_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-sw_crypt.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-template.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-utility.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_ica_la-verify_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-asn1.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-attributes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-cert.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-data_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-decr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-dig_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-dp_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-encr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-globals.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-hwf_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-key.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-key_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-loadsave.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-lock_btree.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-lock_sess_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_aes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_des.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_des3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_dh.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_ec.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_list.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_md2.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_md5.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_rng.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_rsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_sha.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-mech_ssl3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-obj_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-object.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-p11util.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-shared_memory.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-sign_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-sw_crypt.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-template.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-utility.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_icsf_la-verify_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-asn1.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-cert.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-data_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-decr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-dig_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-dp_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-encr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-globals.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-hwf_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-key.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-key_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-loadsave.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-lock_btree.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-lock_sess_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_aes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_des.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_des3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_dh.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_ec.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_list.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_md2.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_md5.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_rng.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_rsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_sha.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-mech_ssl3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-new_host.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-obj_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-object.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-p11util.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-shared_memory.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-sign_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-sw_crypt.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-template.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-utility.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_sw_la-verify_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-asn1.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-cert.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-data_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-decr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-dig_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-dp_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-encr_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-globals.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-hwf_obj.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-key.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-key_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-loadsave.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-lock_btree.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-lock_sess_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_aes.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_des.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_des3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_dh.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_ec.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_list.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_md2.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_md5.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_rng.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_rsa.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_sha.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-mech_ssl3.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-new_host.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-obj_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-object.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-p11util.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-shared_memory.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-sign_mgr.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-sw_crypt.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-template.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-trace.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-utility.lo
usr/lib/common/opencryptoki_stdll_libpkcs11_tpm_la-verify_mgr.lo
usr/lib/common/testcases_common_libcommon_la-p11util.lo
usr/lib/common/testcases_crypto_aes_tests-p11util.o
usr/lib/common/testcases_login_login-p11util.o
usr/lib/common/testcases_login_login_flags_test-p11util.o
usr/lib/common/testcases_misc_tests_speed-p11util.o
usr/lib/common/testcases_misc_tests_threadmkobj-p11util.o
usr/lib/common/testcases_misc_tests_tok_obj-p11util.o
usr/lib/common/usr_sbin_pkcscca_pkcscca-p11util.o
usr/lib/common/usr_sbin_pkcscca_pkcscca-sw_crypt.o
usr/lib/common/usr_sbin_pkcscca_pkcscca-trace.o
usr/lib/common/usr_sbin_pkcsconf_pkcsconf-p11util.o
usr/lib/common/usr_sbin_pkcsep11_migrate_pkcsep11_migrate-p11util.o
usr/lib/common/usr_sbin_pkcsep11_session_pkcsep11_session-p11util.o
usr/lib/common/usr_sbin_pkcsicsf_pkcsicsf-trace.o
usr/lib/ep11_stdll/.dirstamp
usr/lib/ep11_stdll/.libs/
usr/lib/ep11_stdll/opencryptoki_stdll_libpkcs11_ep11_la-ep11_specific.lo
usr/lib/ep11_stdll/opencryptoki_stdll_libpkcs11_ep11_la-new_host.lo
usr/lib/ica_s390_stdll/.dirstamp
usr/lib/ica_s390_stdll/.libs/
usr/lib/ica_s390_stdll/opencryptoki_stdll_libpkcs11_ica_la-ica_specific.lo
usr/lib/icsf_stdll/.dirstamp
usr/lib/icsf_stdll/.libs/
usr/lib/icsf_stdll/icsf_config_lexer.c
usr/lib/icsf_stdll/icsf_config_parse.c
usr/lib/icsf_stdll/icsf_config_parse.h
usr/lib/icsf_stdll/icsf_config_parse.output
usr/lib/icsf_stdll/opencryptoki_stdll_libpkcs11_icsf_la-icsf.lo
usr/lib/icsf_stdll/opencryptoki_stdll_libpkcs11_icsf_la-icsf_config_lexer.lo
usr/lib/icsf_stdll/opencryptoki_stdll_libpkcs11_icsf_la-icsf_config_parse.lo
usr/lib/icsf_stdll/opencryptoki_stdll_libpkcs11_icsf_la-icsf_specific.lo
usr/lib/icsf_stdll/opencryptoki_stdll_libpkcs11_icsf_la-new_host.lo
usr/lib/icsf_stdll/opencryptoki_stdll_libpkcs11_icsf_la-pbkdf.lo
usr/lib/icsf_stdll/usr_sbin_pkcsicsf_pkcsicsf-icsf.o
usr/lib/icsf_stdll/usr_sbin_pkcsicsf_pkcsicsf-pbkdf.o
usr/lib/soft_stdll/.dirstamp
usr/lib/soft_stdll/.libs/
usr/lib/soft_stdll/opencryptoki_stdll_libpkcs11_sw_la-soft_specific.lo
usr/lib/tpm_stdll/.dirstamp
usr/lib/tpm_stdll/.libs/
usr/lib/tpm_stdll/opencryptoki_stdll_libpkcs11_tpm_la-tpm_openssl.lo
usr/lib/tpm_stdll/opencryptoki_stdll_libpkcs11_tpm_la-tpm_specific.lo
usr/lib/tpm_stdll/opencryptoki_stdll_libpkcs11_tpm_la-tpm_util.lo
usr/sbin/pkcscca/.dirstamp
usr/sbin/pkcscca/pkcscca
usr/sbin/pkcscca/usr_sbin_pkcscca_pkcscca-pkcscca.o
usr/sbin/pkcsconf/.dirstamp
usr/sbin/pkcsconf/pkcsconf
usr/sbin/pkcsconf/usr_sbin_pkcsconf_pkcsconf-pkcsconf.o
usr/sbin/pkcsep11_migrate/.dirstamp
usr/sbin/pkcsep11_migrate/pkcsep11_migrate
usr/sbin/pkcsep11_migrate/usr_sbin_pkcsep11_migrate_pkcsep11_migrate-pkcsep11_migrate.o
usr/sbin/pkcsep11_session/.dirstamp
usr/sbin/pkcsep11_session/pkcsep11_session
usr/sbin/pkcsep11_session/usr_sbin_pkcsep11_session_pkcsep11_session-pkcsep11_session.o
usr/sbin/pkcsicsf/.dirstamp
usr/sbin/pkcsicsf/pkcsicsf
usr/sbin/pkcsicsf/usr_sbin_pkcsicsf_pkcsicsf-pkcsicsf.o
usr/sbin/pkcsslotd/.dirstamp
usr/sbin/pkcsslotd/lexer.c
usr/sbin/pkcsslotd/parser.c
usr/sbin/pkcsslotd/parser.h
usr/sbin/pkcsslotd/parser.output
usr/sbin/pkcsslotd/pkcsslotd
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-daemon.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-err.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-garbage_linux.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-lexer.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-log.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-mutex.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-parser.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-pkcsslotd_util.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-shmem.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-signal.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-slotmgr.o
usr/sbin/pkcsslotd/usr_sbin_pkcsslotd_pkcsslotd-socket_server.o
