# COPYRIGHT (c) International Business Machines Corp. 2001-2022
#
# This program is provided under the terms of the Common Public License,
# version 1.0 (CPL-1.0). Any use, reproduction or distribution for this software
# constitutes recipient's acceptance of CPL-1.0 terms which can be found
# in the file LICENSE file or at https://opensource.org/licenses/cpl1.0.php
#
# project specific ignore patterns
# ignore executables
testcases/build/cpp_test
testcases/crypto/ab_tests
testcases/crypto/aes_tests
testcases/crypto/des3_tests
testcases/crypto/des_tests
testcases/crypto/dh_tests
testcases/crypto/digest_tests
testcases/crypto/dilithium_tests
testcases/crypto/dsa_tests
testcases/crypto/ec_tests
testcases/crypto/rsa_tests
testcases/crypto/rsaupdate_tests
testcases/crypto/ssl3_tests
testcases/crypto/kyber_tests
testcases/init_token.sh
testcases/login/digest_init
testcases/login/init_pin
testcases/login/init_tok
testcases/login/login
testcases/login/login_flags_test
testcases/login/set_pin
testcases/misc_tests/cca_export_import_test
testcases/misc_tests/events
testcases/misc_tests/fork
testcases/misc_tests/multi_instance
testcases/misc_tests/obj_lock
testcases/misc_tests/obj_mgmt_lock_tests
testcases/misc_tests/obj_mgmt_tests
testcases/misc_tests/reencrypt
testcases/misc_tests/speed
testcases/misc_tests/threadmkobj
testcases/misc_tests/tok2tok_transport
testcases/misc_tests/tok_des
testcases/misc_tests/tok_obj
testcases/misc_tests/tok_rsa
testcases/misc_tests/dual_functions
testcases/ock_tests.sh
testcases/pkcs11/attribute
testcases/pkcs11/copyobjects
testcases/pkcs11/destroyobjects
testcases/pkcs11/findobjects
testcases/pkcs11/gen_purpose
testcases/pkcs11/generate_keypair
testcases/pkcs11/get_interface
testcases/pkcs11/getobjectsize
testcases/pkcs11/hw_fn
testcases/pkcs11/sess_bench
testcases/pkcs11/sess_mgmt_tests
testcases/pkcs11/sess_opstate
testcases/policy/policytest
testcases/policy/policytest.sh
testcases/unit/configdump
testcases/unit/hashmaptest
testcases/unit/mechtabletest
testcases/unit/policytest
testcases/unit/buffertest
testcases/unit/uritest
testcases/unit/pintest
usr/sbin/p11sak/p11sak
usr/sbin/pkcscca/pkcscca
usr/sbin/pkcsconf/pkcsconf
usr/sbin/pkcsicsf/pkcsicsf
usr/sbin/pkcsslotd/pkcsslotd
usr/sbin/pkcsstats/pkcsstats
usr/sbin/pkcstok_migrate/pkcstok_migrate
usr/sbin/pkcstok_admin/pkcstok_admin
usr/sbin/pkcsep11_migrate/pkcsep11_migrate
usr/sbin/pkcsep11_session/pkcsep11_session
usr/sbin/pkcshsm_mk_change/pkcshsm_mk_change
tools/policyexamplegen
tools/tableidxgen

# ignore test logs
*.log
*.trs

# ignore build stubs
*.lai
libtool

# ignore generated source (from <file>.in)
usr/lib/api/shrd_mem.c
man/man1/p11sak.1
man/man1/pkcsep11_session.1
man/man1/pkcsicsf.1
man/man1/pkcstok_migrate.1
man/man1/pkcstok_admin.1
man/man1/pkcsep11_migrate.1
man/man1/pkcscca.1
man/man1/pkcsconf.1
man/man1/pkcsstats.1
man/man1/pkcshsm_mk_change.1
man/man5/policy.conf.5
man/man5/p11sak_defined_attrs.conf.5
man/man5/opencryptoki.conf.5
man/man5/strength.conf.5
man/man8/pkcsslotd.8
man/man7/opencryptoki.7
misc/opencryptoki.conf
misc/pkcsslotd.service
misc/pkcsslotd
misc/opencryptoki.pc
testcases/init_vhsm.exp
testcases/policy/policytest.sh
testcases/ock_tests.sh
testcases/cleanup_vhsm.exp
testcases/init_token.sh

# ignore generated source (other)
doc/policy-example.conf
usr/lib/api/mechtable-gen.h
usr/lib/api/mechtable.c
usr/lib/api/mechtable.log
usr/lib/api/shrd_mem.c
usr/lib/config/cfglex.c
usr/lib/config/cfglex.h
usr/lib/config/cfgparse.c
usr/lib/config/cfgparse.h
usr/lib/config/cfgparse.output

# common C ignores
*.d
*.o
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.dylib
*.out
*.hex
*.dSYM/
*.su
*.idb
*.pdb

# common autotools ignores
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
/texinfo.tex
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile

# common tag ignores
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# common emacs ignores
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/
dist/
flycheck_*.el
/server/
.projectile
.dir-locals.el
/network-security.data

# common vim ignores
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
[._]*.un~
