.libs
.deps
*.o
*.lo
Makefile
Makefile.in
config.log
configure
aclocal.m4
autom4te.cache
config.guess
config.status
config.sub
cscope.out
depcomp
install-sh
libtool
ltmain.sh
man/man1/pkcsconf.1
man/man1/pkcsicsf.1
man/man1/pkcscca.1
man/man1/pkcsep11_migrate.1
man/man5/opencryptoki.conf.5
man/man7/opencryptoki.7
man/man8/pkcsslotd.8
misc/pkcsslotd
misc/pkcsslotd.service
missing
ylwrap
testcases/common/libcommon.la
testcases/crypto/aes_tests
testcases/crypto/des3_tests
testcases/crypto/des_tests
testcases/crypto/dh_tests
testcases/crypto/digest_tests
testcases/crypto/dsa_tests
testcases/crypto/ec_tests
testcases/crypto/rsa_tests
testcases/crypto/rsaupdate_tests
testcases/crypto/ssl3_tests
testcases/pkcs11/sess_bench
testcases/pkcs11/sess_mgmt_tests
testcases/pkcs11/hw_fn
testcases/pkcs11/attribute
testcases/pkcs11/findobjects
testcases/pkcs11/destroyobjects
testcases/pkcs11/copyobjects
testcases/pkcs11/misc_tests
testcases/login/digest_init
testcases/login/init_pin
testcases/login/init_tok
testcases/login/login
testcases/login/set_pin
testcases/login/login_flags_test
testcases/misc_tests/obj_mgmt_tests
testcases/misc_tests/obj_mgmt_lock_tests
testcases/misc_tests/speed
testcases/misc_tests/threadmkobj
testcases/misc_tests/tok_des
testcases/misc_tests/tok_obj
testcases/misc_tests/tok_rsa
testcases/ock_tests.sh
testcases/init_token.sh
usr/lib/pkcs11/api/opencryptoki
usr/lib/pkcs11/api/shrd_mem.c
usr/lib/pkcs11/cca_stdll/opencryptoki
usr/lib/pkcs11/soft_stdll/opencryptoki
usr/lib/pkcs11/tpm_stdll/opencryptoki
usr/lib/pkcs11/ica_s390_stdll/opencryptoki
usr/lib/pkcs11/ep11_stdll/opencryptoki
usr/lib/pkcs11/icsf_stdll/opencryptoki
usr/lib/pkcs11/icsf_stdll/icsf_config_lexer.c
usr/lib/pkcs11/icsf_stdll/icsf_config_parse.c
usr/lib/pkcs11/icsf_stdll/icsf_config_parse.h
usr/lib/pkcs11/icsf_stdll/icsf_config_parse.output
usr/sbin/pkcsconf/pkcsconf
usr/sbin/pkcsslotd/pkcsslotd
usr/sbin/pkcsslotd/parser.output
usr/sbin/pkcsslotd/parser.c
usr/sbin/pkcsslotd/parser.h
usr/sbin/pkcsslotd/lexer.c
usr/sbin/pkcsicsf/pkcsicsf
usr/sbin/pkcscca/pkcscca
usr/sbin/pkcsep11_migrate/pkcsep11_migrate
